<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title><%= title %> | <%= sitename %></title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel='stylesheet' href='/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/topic.js" defer></script>
  </head>
  <body class='topic-detail' data-id='<%= topic.id %>' data-uid='<%= user.id %>'>
    <script type="application/json" id="content-data"><%- entities.encode( JSON.stringify(topic) ) %></script>
  </body>
</html>
