<!DOCTYPE html>
<html>
  <head>
    <%- include('../partial/head'); -%>
  </head>
  <body>
    <%- include('../partial/body_header'); -%> 
    <div class="container">
      <div class="page-header"><h2><%= title %></h2></div>
        <div style="width: 700px">
        <form action="/event/<%= event.id %>/edit" method="post">
          <div class="form-group">
            <label for="title">イベント名</label>
            <input type="text" class="form-control" name="title" placeholder="イベント名" autofocus value="<%= event.title %>" required>
          </div>
          <div class="form-group">
            <label for="convened">開催日時</label>
            <input type="text" id="datepicker" class="form-control" name="convened" placeholder="開催日時" value="<%= moment(event.convened_at).format('YYYY-MM-DD') %>" required>
          </div>
          <hr>
          <div class="form-group">
            <% for ( let i = 0; i < 30; i++ ){ %>
              <label for="presentater<%= i %>">トピック <%= i + 1  %></label>
              <div class="form-inline">
              <% let topic = event.topics[i]; %>
              <% if (topic) { %>
                <input type="text" class="form-control" name="presentator<%= i %>" placeholder="発表者" style="width: 150px" value="<%= topic.presentator %>" <% if (i == 0) { %>required<% } %>>
                <input type="text" class="form-control" name="title<%= i %>" placeholder="タイトル" style="width: 445px" value="<%= topic.title %>">
                <input type="text" class="form-control" name="time<%= i %>" placeholder="分" style="width: 45px" value="<%= topic.time %>">
                <label for="delete<%= i %>">削除</label>
                <input type="checkbox" id="delete<%= i %>" name="delete<%= i %>" value="1">
                <input type="text" class="form-control" name="reference_url<%= i %>" placeholder="参考URL" style="width: 700px; margin-top: 5px" value="<%= topic.reference_url %>">
                <input type="hidden" name="topic_id<%= i %>" value="<%= topic.id %>">
              <% } else { %>
                <input type="text" class="form-control" name="presentator<%= i %>" placeholder="発表者" style="width: 150px">
                <input type="text" class="form-control" name="title<%= i %>" placeholder="タイトル" style="width: 445px">
                <input type="text" class="form-control" name="time<%= i %>" placeholder="分" style="width: 45px">
                <input type="text" class="form-control" name="reference_url<%= i %>" placeholder="参考URL" style="width: 700px; margin-top: 5px">
              <% } %>
            </div>
          <% } %>
        </div>
        <input type="submit" class="btn btn-sm btn-success" value="送信">
      </form>
      <hr />
      <form action="/event/<%= event.id %>?_method=delete" method="post" onSubmit="return confirmDelete()">
        <input type="submit" value="イベント削除" class="btn btn-sm btn-danger">
      </form>
    </div>

    <script type="text/javascript">
      $(function(){
        $("#datepicker").datepicker({
          dateFormat: 'yy-mm-dd'
        });
      });

      function confirmDelete() {
        return window.confirm("イベントを削除すると、関連するトピックやコメントも同時に削除されます。よろしいですか？");
      }
    </script>
  </body>
</html>
